* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
    background-image: url('./Q.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 90%; /* Use percentage for responsiveness */
    margin: auto;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 17px 36px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.container:hover {
    transform: translateY(-10px) rotateY(10deg) rotateX(10deg); 
}

.name {
    font-size: 2em; 
    color: #333;
}

.profile-photo {
    width: 100%; /* Full width of the container */
    max-width: 340px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; 
    margin-top: 15px;

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.profile-photo:hover {
    transform: translateY(-10px) rotateY(10deg) rotateX(10deg); 
}

.skills {
    font-size: 1em; 
    color: #555;
}

.education {
    list-style-type: none; 
    padding-left: 0; 
}

.education li {
    margin: 10px 0; 
}

.linkedin {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0077b5; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.linkedin:hover {
    background-color: #005582; 
}

.connect-container {
   max-width: 90%; /* Use percentage for responsiveness */
   margin-top: 40px; 
   margin: auto;
   padding: 60px; 
   background-color: rgba(255,255,255,0.9); 
   border-radius: 20px; 
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.connect-container:hover {
   transform: translateY(-5px); 
}

h2 {
   color: #333; 
   margin-bottom: 10px; 
   text-decoration: underline;
}

button {
   padding: 12px; 
   background-color: #0077b5; 
   color:white ; 
   border-radius :5 px ; 
   border:none ; 

   cursor:pointer ;

   transition :background-color .3s ease-in-out ,transform .3s ease-in-out ; 
}

button:hover {
   background-color :#005582 ; 
   transform :translateY(-2 px ); 
}

/* Media Queries for Responsiveness */

@media (min-width:768px) { /* Adjust styles for larger screens */
   .profile-photo {
       max-width :300 px ; /* Set a specific max width for larger screens */
       height:auto ; /* Maintain aspect ratio */
   }

   .name {
       font-size :2.5 em ; /* Larger font size on desktop */
   }

   .skills,
   .education li {
       font-size :1.2 em ; /* Slightly larger font size on desktop */
   }
}
